<div class="container">
  <div class="mb-3" style="display: grid; padding-bottom: 15px;">
    <label for="uploadImage" class="form-label">Upload Image</label>
    <input type="file"  class="form-control" id="uploadImage" name="image"
      (change)="uploadImage($event)"
      accept="image/png, image/jpeg" [disabled]="!upload" multiple>
  </div>
  <div class="mb-3">
    <button (click)="resize()" [disabled]="!ifMinimum" class="btn btn-primary">Resize</button>
  
    <button (click)="download()" [disabled]="!ifMinimum" class="btn btn-primary">Download</button>
  </div>
  <div>
    <button (click)="cancelAll()">Cancel all</button>
      <div style="border: solid 1px black">
        <img *ngFor='let preview of previews;' [src]="preview" class="preview">
      </div>
  </div>
</div>
